{% extends 'base.html'%}
{%block title%} Retiros{%endblock%}
{% block content%}
<h3>Bienvenido {{request.user.first_name}}  {{request.user.last_name}}</h3>

<div class="container" align="center">
  {%if cantidad_total%}
    <h2 align ="center">Saldo Actual</h2>
    <h4 align ="center">{{cantidad_total}}</h4>
  {%else%}
    <h2 align ="center">No hay dinero disponible</h2>
  {%endif%}
  <a class="btn btn-primary" href="/retiro/">Hacer Retiro</a>
  <a class="btn btn-danger" href="/logout/">Salir</a
</div>
{% endblock %}
