{% extends 'base.html'%}
{%block title%} Retiros{%endblock%}
{% block content%}
<br><br>
<h3>Cuenta de {{request.user.first_name}}  {{request.user.last_name}}</h3>

<div class="container" align="center">
<form class="form-inline" action="/confirmar/" method="post" onsubmit="return asegurar()">
  {% csrf_token %}
  <br>
  <br>
<div  ng-app="">
  <div class="form-group">
    <label for="monto"><h3>Ingrese cantidad:</h3></label>
    <input id="monto" name="monto" type="number" ng-model="monto" required min="50" max="{{cantidad_total}}">
    <p>Solo se puede retirar multiplos de <b>50</b></p>
  </div>

<br>
<br>
<br>
<h3>
Cantidad restante después del retiro: <b>&lbrace;&lbrace;{{cantidad_total}}-monto&rbrace;&rbrace;</b>
</h3>
<br>
</div>
<br>
<br>
<br>
<div class="row">

<button type="submit" class="col-sm-4 btn btn-success btn-lg" >Retirar</button>
<div class="col-sm-3">

</div>
<a class="col-sm-4 btn btn-danger btn-lg" href="/logout/">Salir</a>
</div>
</form>
<div>
</div>
<script>
function asegurar ()
  {
    monto = document.getElementById('monto').value;
    if ((monto%50)==0){
      rc = confirm("¿Seguro que desea retirar "+ monto +" pesos de su cuenta?");
    } else {
      alert("Solo se pueden retirar multiplos de cincuenta");
      rc = false;
    }

    return rc;
  }
</script>
{% endblock %}
