{% extends 'base.html'%}
{%block title%} Retiros{%endblock%}
{% block content%}
<h3>Cuenta de: {{request.user.first_name}}  {{request.user.last_name}}</h3>

<div class="container" align="center">
<h2 class="form-signin-heading" align ="center">Cantidad a Retirar</h2>

Ingrese cantidad:
</label>
<input type="number" name="cantidad" class="input-block-level">
</br>
Cantidad Restante: angular
</br>
<a class="btn btn-success" href="/confirmar/">Retirar</a>
<a class="btn btn-danger" href="/logout/">Salir</a>
<div>
</div>
{% endblock %}
