{% extends 'base.html'%}
{%block title%} Retiros{%endblock%}
{% block content%}
<br><br>
<h3>Cuenta de {{request.user.first_name}}  {{request.user.last_name}}</h3>

<div class="container" align="center">
<form class="form-inline" action="/confirmar/" method="get" onsubmit="return asegurar()">
  <br>
  <br>
<div  ng-app="">
  <div class="form-group">
    <label for="monto"><h3>Ingrese cantidad:</h3> </label>
    <input id="monto" name="monto" type="number" ng-model="monto" required min="50" max="{{cantidad_total}}">
  </div>

</br>
Cantidad Restante: &lbrace;&lbrace;{{cantidad_total}}-monto&rbrace;&rbrace;
</br>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="row">

<button type="submit" class="col-sm-4 btn btn-success btn-lg" >Retirar</button>
<div class="col-sm-3">

</div>
<a class="col-sm-4 btn btn-danger btn-lg" href="/logout/">Salir</a>
</div>
</form>
<div>
</div>
<script>
function asegurar ()
  {
      rc = confirm("¿Seguro que desea retirar el monto de su cuenta?");
      return rc;
  }
</script>
{% endblock %}
