{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Log In' %}{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
  <br>
  <br>
  <br>
  <p>Ya se ha iniciado sesión</p>
{%else%}
<div class="container" align="center">
<form  class="form-inline" data-ajax="false" method="POST">
<div class="form-group">
  <br>
  <br>
  <br>
  {% include "accounts/formfields.html" %}
  <br>
  <input type="submit" class="form-control btn btn-success" value="{% trans 'Log In' %}"/>
</div>
<div class="form-group">
  <input type="hidden" class="form-control" name="next" value="{{ next }}" />
</div>
</form>
{%endif%}
{% endblock %}
